#Intellij
*.iml
.idea/*
out/

### Maven template
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

# Compiled class file
*.class

# Log file
*.log

# Package Files #
*.jar

# Testing package
src/main/java/com/fenrir/filesorter/test

# Backup directory content
src/main/resources/backup/*

# Saved rule groups
src/main/resources/rule_group.json
